{% load user_follow_stats %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Clon de Twitter</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}"><button>Cerrar sesión</button></a>
    {% else %}
        <a href="{% url 'login' %}"><button>Iniciar sesión</button></a>
    {% endif %}

    <p>SIGUIENDO: {% user_following_stat request.user.id %}</p>
    <p>SEGUIDORES: {% user_followers_stat request.user.id %}</p>

    {% block content %}
    {% endblock content %}

    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <h3 style='color: green'>{{message}}</h3>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <h3 style='color: red'>{{message}}</h3>
        {% endif %}
    {% endfor %}
</body>
</html>